
body{
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.25;
}
#wrapper-navbar {
  .top-header-holder {
    height: 85px;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    .logo-holder{
      .logo{
        padding-right: 10px;
        }
      .td-border{
        border-left: 1px solid #a8a8a8; /* Линия снизу */

      }
      .logo-txt {
        padding-left: 10px;
        font-size: 14px;
        float:left; /* Выравнивание по левому краю */
        }
      }
      .chats{
        .chats-txt{
          font-size: 14px;
        }
        .chats-icons{
          padding-top: 10px;
        }
      }
    .contact-telephone{
      .telephone-txt{
        font-size: 14px;
        padding-bottom: 10px;
      }
      .telephone-number{
        font-size: 24px;
        font-weight:bold;
      }
    }
    .portfolio_button{
      display: flex;
      align-items: center;
      justify-content: center
    }
    }

  #main-nav {
    ul{
      flex: 2; //устанавливает , как гибкий элемент будет увеличиваться или уменьшаться
      justify-content: space-between; //определяет, как браузер распределяет пространство между элементами
      li{
        a{
          font-weight: 500;
          font-size: 15px;
          text-transform: capitalize;//может сделать все заглавные
        }
      }
      .current-menu-item{
        a{
          color: #1761b5;
        }
      }
      .nav-link{
        color: #0b2e13;
      }
    }
  }
}
  .navbar {
    height: 40px;
    margin: 0px;
    padding: 10px;
    margin: 0px;
  }

.home-banner{
  height: 650px;
  background: url("../img/1.png") no-repeat center center;
  background-size: cover;

}
.arrow-banner{
  height: 30px;
  background: url("../img/1__1.webp") no-repeat center center;
  background-position: center;
  background-size: 1.5% 100%;
  background-repeat: no-repeat;
}
