$primary: rgb(226, 226, 226);
$current: #1761b5;

body{
  font-family: Gilroy;
  font-size: 18px;
  line-height: 1.25;
}
#wrapper-navbar {
  .top-header-holder {
    height: 85px;
    background: #ffffff;
  }

  #top-header-holder{
    .logo-holder{
      .logo{
        height: 60px;
        background: url("../img/Logo-min.png") no-repeat;
      }
    }
  }

  #main-nav {
    ul{
      flex: 2; //устанавливает , как гибкий элемент будет увеличиваться или уменьшаться
      justify-content: space-between; //определяет, как браузер распределяет пространство между элементами
      li{
        a{
          font-weight: 500;
          font-size: 15px;
          text-transform: capitalize;//может сделать все заглавные
        }
      }
      .current-menu-item{
        a{
          color: $current;
        }
      }
      .nav-link{
        color: #0b2e13;
      }
    }
  }
}
  .navbar {
    height: 40px;
    margin: 0px;
    padding: 10px;
    margin: 0px;
  }

.home-banner{
  height: 650px;
  background: url("../img/1.png") no-repeat center center;
  background-size: cover;

}
.arrow-banner{
  height: 30px;
  background: url("../img/1__1.webp") no-repeat center center;
  background-position: center;
  background-size: 1.5% 100%;
  background-repeat: no-repeat;
}
