#wrapper-navbar
.top-header-holder{
  height: 100px;
  background: #ffffff;


}


.home-banner{
  height: 1090px;
  background-image: url("../img/1_.webp") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


}